<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to('Papercode', root_path) %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to('some link', '#') %></li>
    </ul>
    <ul class="right">
    </ul>
  </section>
</nav>
